

.heading h1{
   font-family: 'Oswald', sans-serif;
  }
.top{
    box-sizing: content-box;
    background-color: blanchedalmond;
    text-align-last: left;
    padding:20px;
    margin-bottom: 2%;
     

}
.top h2{
    font-family: 'Grandstander', cursive;

}

body {
    padding: 10px;
}

.info img{
    margin-inline-end:2%;
}
.info p{
    margin-bottom: 7%;
}
.info1 h2{
    margin-top: 5%;
}
.Responsive {
    width: 100%;
    max-width: 400px;
    height: 300px;
  }
